@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Social Space 2.0</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello @User.Identity.Name!</p>
        <p>@User.FindFirst("email")?.Value</p>
    }
</div>
